{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Login Page{% endblock title%}

{% block content %}
    <h3>Login</h3>
    <div class="row">
        <div class="col-4">
                <form method="post">
                {% csrf_token %}
                {{ user_login | crispy }}
                <button class="btn btn-primary" type="submit">LogIn</button>
                <span class="ms-3">If you don't have account <a href="{% url 'users:register' %}">register</a></span>
        </form>
        </div>
    </div>


{% endblock %}