{% extends "base.html" %}

    {% block title %}Profile Page{% endblock title%}

{% block content %}

<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
    <div class="card p-4">
        <div class=" image d-flex flex-column justify-content-center align-items-center">
            <button class="btn btn-secondary">
                <img class="profile-pic" src="{{ user.profile_picture.url }}" alt="Profile pic">
            </button>
            <span class="name mt-3">{{user.first_name}}</span>
            <span class="idd">@{{user.username}}</span>
            <span class="idd">{{user.email}}</span>

            <div class=" d-flex mt-2">
               <a class="btn btn-dark" href="{% url 'users:profile-edit' %}">edit profile</a>
            </div>


            <span class="join">{{user.date_joined |date:"M d, Y"}}</span>
            {% if user.is_active %}
            <span>status : active</span>
            {% else %}
            <span>status : not active</span>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}